/* 
flex grow :  It specifies how much of the remaining space in the flex container should be assigned to the item
flex shrink : which determines how much the flex item will shrink relative to the rest of the flex items in the flex container when there isn't enough space on the row
flex wrap : CSS property sets whether flex items are forced onto one line or can wrap onto multiple lines
flex basis : The flex-basis CSS property sets the initial main size of a flex item.
align-items : The align-items property defines the default behavior for how items are laid out along the cross axis (perpendicular to the main axis). 
justify-content : property defines how the browser distributes space between and around content items along the main-axis of a flex container,
order : The order CSS property sets the order to lay out an item in a flex or grid container.
*/

* {
  font-family: verdana;
  margin: 0;
}

body {
  background: #eee;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  height: 100px;
}

.one {
  background: red;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 100px;
}

.two {
  background: blue;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 150px;
}

.three {
  background: green;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50px;
}
